* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#footer {
  width: 100%;
  background-color: rgb(255, 246, 239);
  padding: 80px 0 30px;
}
.subscribe {
  align-items: baseline;
}

.subscribe h2 {
  margin-bottom: 20px;
}

.subscribe .sub {
  padding: 8px 20px;
  border-radius: 30px;
  border: none;
  min-width: 250px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.subscribe .btn {
  background: #4e8098;
  border: none;
  border-radius: 25px;
  padding: 8px 25px;
  color: white;
}

.footer-content ul {
  list-style: none;
  padding: 0;
}

.footer-content li {
  margin-bottom: 8px;
  cursor: pointer;
}

.footer-logo {
  width: 140px;
}

.medias .icon {
  font-size: 20px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s;
}

.medias .icon:hover {
  color: rgb(7, 176, 255);
}

.signature {
  border-top: 1px solid #ccc;
  padding-top: 15px;
  font-size: 14px;
}

.signature a {
  color: #0080ff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .subscribe .sub {
    width: 100%;
    min-width: unset;
  }
}
