* {
  margin: 0;
  padding: 0;
  list-style: none;
}
#memories {
  width: 100%;
  background-color: rgb(255, 246, 239);
  padding: 100px 0;
}
.top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 100px;
}
.top .left {
}
.top .right .btn {
  background: #4e8098;
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 25px;
}
.top .right .btn:hover {
  background: #2c6c6c;
}
.bottom {
  display: flex;
  width: 100%;
}
.bottom .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  padding: 75px 40px;
  background: #fff;
  text-align: center;
  border-radius: 100px;
}
.bottom .box span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  color: #fff;
  margin: 0 auto;
}

.bottom .box1 span {
  background-color: rgb(122, 122, 255);
}
.bottom .box2 span {
  background-color: rgb(255, 148, 109);
}
.bottom .box3 span {
  background-color: peachpuff;
}
.bottom .box h4 {
  font-size: 18px;
  margin-top: 15px;
}
.bottom .box p {
  color: gray;
  padding: 5px;
  margin: 0;
}

@media (max-width: 768px) {
  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bottom .box {
    border-radius: 20px;
    margin-bottom: 20px;
  }
  .bottom .box p {
    color: #fff;
  }

  .bottom .box1 {
    background-color: peachpuff;
  }

  .bottom .box2 {
    background-color: rgb(122, 122, 255);
  }
  .bottom .box3 {
    background-color: rgb(255, 148, 109);
  }
}
